$colors: (
    #1fa9b5,
    #0b95a1,
    #018b97,
    #00818d,
    #007783,
    #006d79,
    #00636f,
    #005965
);
$color: nth($colors, random(length($colors)));

header.masthead {
  height: 100vh;

  .bottom-padding {
    padding-bottom: 100px;
  }

  .osa-hero {
    height: 500px;
    width: 100%;
    mask: url(../img/osa_logo.svg);
    -webkit-mask: url(../img/osa_logo.svg);
    mask-mode: alpha;
    -webkit-mask-mode: alpha;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background: radial-gradient(ellipse at center, $color 0%, darken($color, 50%) 100%);
  }

  .sub-title {
    position: absolute;
    height: 100px;
    bottom: 40px;
    right: 0;
    display: none;
  }

  
}
